/*************** Mixins ******************/
/* Container
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
}
/* Grids
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-right: 30px;
}
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 70px;
}
.container_12 .grid_2 {
  width: 170px;
}
.container_12 .grid_3 {
  width: 270px;
}
.container_12 .grid_4 {
  width: 370px;
}
.container_12 .grid_5 {
  width: 470px;
}
.container_12 .grid_6 {
  width: 570px;
}
.container_12 .grid_7 {
  width: 670px;
}
.container_12 .grid_8 {
  width: 770px;
}
.container_12 .grid_9 {
  width: 870px;
}
.container_12 .grid_10 {
  width: 970px;
}
.container_12 .grid_11 {
  width: 1070px;
}
.container_12 .grid_12 {
  width: 1170px;
  margin-right: 0;
}
/************** FIM DA GRID ************/

/*********** variable color ***********/
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* defined font pattern - 10px*/
  font-family: 'Helvetica', Arial;
  color: #666666;
  min-width: 1200px;
}
/*************** Mixins ******************/
/******* MOUSE OVER ************/
.list-bikers:hover > .button-delete .btn-delete {
  display: block !important;
}
/********** CSS RESET ****************/
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
button:focus {
  outline: 0 !important;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  float: left;
}
.hidden {
  display: none;
}
/*********** HEADER ******************/
header {
  margin-top: 8px;
  border-bottom: 1px solid #333333;
  overflow: hidden;
}
header .menu-title .menu {
  margin-left: -6px;
}
header .menu-title .menu i {
  color: #369f0f;
  font-size: 2em;
}
header .menu-title h1 {
  display: inline-block;
  color: #333333;
  margin-left: 5px;
}
header .data-user {
  float: right;
  color: #333333;
  font-size: 1.4em;
  margin: 11px 0 0 ;
  text-align: right;
}
header .data-user i {
  color: #369f0f;
  font-size: 1.5em;
  margin-right: 10px;
}
header .data-user a {
  color: #333333;
}
header .data-user a:hover {
  color: #369f0f;
  text-decoration: underline;
}
/************** BREADCRUMB ******************/
.breadcrumb ul {
  margin: 15px 0 10px;
  font-size: 1.2em;
}
.breadcrumb ul li {
  margin-right: 7px;
  line-height: 1.9em;
}
.breadcrumb ul li i {
  color: #369f0f;
  font-size: 1.5em;
}
.breadcrumb ul li a {
  color: #369f0f;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}
.breadcrumb ul li span {
  color: #E8E8E8;
  margin: 0 6px;
  font-size: 1.2em;
}
/******* SECTION PAGE ************/
.section-info-page {
  float: left;
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #DBDBDB;
  margin-bottom: 50px;
}
.section-info-page .data-info-page,
.section-info-page .responsabily {
  color: #999999;
  margin: 31px 0 20px;
}
.section-info-page .data-info-page i,
.section-info-page .responsabily i {
  font-size: 4em;
  float: left;
  margin-right: 15px;
}
.section-info-page .data-info-page h3,
.section-info-page .responsabily h3 {
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
  margin: 3px 0 5px;
  font-weight: normal;
}
.section-info-page .data-info-page span,
.section-info-page .responsabily span {
  font-size: 1.5em;
  color: #333333;
  font-weight: bold;
  width: 100px;
}
.section-info-page .info-mode {
  width: 200px;
}
.section-info-page .responsabily {
  float: right;
  text-align: right;
  margin-right: 0;
  width: 134px;
}
.section-info-page .responsabily i,
.section-info-page .responsabily span {
  color: #369f0f;
}
.section-info-page .responsabily h3,
.section-info-page .responsabily span {
  float: left;
  text-align: left;
  width: auto;
}
/*********** SECTION HELP **************/
.help {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;
}
.help header {
  background: #f0f0f0;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}
.help header h3 {
  display: inline-block;
  color: #333333;
  font-size: 1.5em;
  margin: 0 0 0 15px;
}
.help header .open,
.help header .close {
  border: none;
  background: none;
  color: #369f0f;
  float: right;
  margin-right: 15px;
}
.help .content-help-open {
  display: block !important;
}
.help .content-help {
  display: none;
  padding: 15px;
  font-size: 1.3em;
  line-height: 1.4em;
}
.help .content-help i {
  font-size: 9em;
  float: left;
  color: #999999;
  margin: 0 25px 10px 0;
}
/************** FORM ***********************/
.form-registration h2 {
  color: #333333;
  font-size: 3.4em;
}
.form-registration .row-inputs {
  width: 100%;
  height: 100px;
}
.form-registration .row-inputs p.help-block {
  color: red;
}
.form-registration .row-inputs .radiobox,
.form-registration .row-inputs .checkbox {
  width: 149px;
  float: left;
  font-size: 1.6em;
  line-height: 1.8em;
  margin-top: 17px;
}
.form-registration .row-inputs .checkbox {
  width: 80px;
  color: #666666 !important;
  margin-top: 12px;
}
.form-registration .row-inputs label,
.form-registration .row-inputs h4 {
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  color: #333333;
  float: left;
  margin-bottom: 5px;
}
.form-registration .row-inputs label span,
.form-registration .row-inputs h4 span {
  color: #999999;
  font-size: 0.8em;
  float: right;
  font-weight: normal;
}
.form-registration .row-inputs .daysWeek {
  margin-top: 40px !important;
}
.form-registration .row-inputs label.radio-checkbox {
  width: auto !important;
}
.form-registration .row-inputs input[type="text"],
.form-registration .row-inputs input[type="email"] {
  width: 100%;
  border: 2px solid #DBDBDB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6em;
  padding: 5px 0;
  margin-top: 5px;
}
.form-registration .row-inputs input[type="text"]:focus,
.form-registration .row-inputs input[type="email"]:focus {
  border: 2px solid #369f0f;
  outline: none;
}
.form-registration .row-inputs .help-input {
  width: 100%;
  margin-top: 10px;
  color: #999999;
  font-size: 1.2em;
  display: none;
}
.form-registration .row-inputs .btn-save,
.form-registration .row-inputs .btn-cancel {
  float: right;
  font-size: 1.4em;
  padding: 7px 25px;
  background: #999999;
  color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 45px;
}
.form-registration .row-inputs .btn-save {
  background: #369f0f;
  color: #fff;
  margin-left: 15px;
}
.form-registration .fields-right {
  float: right;
}
/********* List bikers ****************/
.bikers h2 {
  color: #333333;
  font-size: 3.4em;
}
.bikers header {
  border-bottom: 1px solid #154A02;
  border-top: 1px solid #154A02;
  background: #369f0f;
  padding: 25px 10px 15px;
  color: #fff;
  font-size: 1.2em;
}
.bikers .list-bikers {
  padding: 20px 0 32px 10px;
  font-size: 1.4em;
  color: #333333;
  line-height: 1.4em;
}
.bikers .list-bikers .button-delete {
  margin-right: 5px;
}
.bikers .list-bikers .button-delete button {
  display: none;
  float: right;
  font-size: 1.2em;
  margin-top: -6px;
}
.bikers .list-bikers .hour {
  color: #999999;
  font-size: 0.8em;
  margin-left: 3px;
}
.bikers .list-bikers:hover {
  background: #C5DFBC;
}
.bikers .row-background {
  background: #F4F4F4;
}
.bikers .row-mouse-over {
  background: #C5DFBC;
}
/************** FOOTER ****************/
footer {
  border-top: 1px solid #333333;
  margin: 70px 0 20px 0;
}
footer .copyright,
footer .version {
  display: inline-block;
  color: #999999;
  font-size: 1.2em;
  margin-top: 20px;
}
footer .version {
  float: right;
  font-weight: bold;
}
