/*********** variable color ***********/
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* defined font pattern - 10px*/
  font-family: 'Helvetica', Arial;
  color: #666666;
}
/********** CSS RESET ****************/
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0 !important;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  float: left;
}
/*********** HEADER ******************/
header {
  margin-top: 8px;
  border-bottom: 1px solid #333333;
  overflow: hidden;
}
header .menu-title .menu {
  border: none;
  background: none;
}
header .menu-title .menu i {
  color: #369f0f;
  font-size: 2em;
}
header .menu-title h1 {
  display: inline-block;
  color: #333333;
  margin-left: 5px;
}
header .data-user {
  float: right;
  color: #333333;
  font-size: 1.4em;
  margin: 11px 0 0 ;
  text-align: right;
}
header .data-user i {
  color: #369f0f;
  font-size: 1.5em;
  margin-right: 10px;
}
header .data-user a {
  color: #333333;
}
header .data-user a:hover {
  color: #369f0f;
  text-decoration: underline;
}
/************** BREADCRUMB ******************/
.breadcrumb ul {
  margin: 15px 0 10px;
  font-size: 1.2em;
}
.breadcrumb ul li {
  margin-right: 7px;
  line-height: 1.9em;
}
.breadcrumb ul li i {
  color: #369f0f;
  font-size: 1.5em;
}
.breadcrumb ul li a {
  color: #369f0f;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}
.breadcrumb ul li span {
  color: #E8E8E8;
  margin: 0 6px;
  font-size: 1.2em;
}
/******* SECTION PAGE ************/
.section-info-page {
  float: left;
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #DBDBDB;
  padding: 20px 0;
}
.section-info-page .data-info-page {
  color: #999999;
  margin-top: 11px;
}
.section-info-page .data-info-page i {
  font-size: 4em;
  float: left;
  margin-right: 15px;
}
.section-info-page .data-info-page h3 {
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
  margin: 3px 0 5px;
  font-weight: normal;
}
.section-info-page .data-info-page span {
  font-size: 1.6em;
  color: #333333;
  font-weight: bold;
  width: 100px;
}
.section-info-page .data-info-page .info-mode {
  width: 200px;
}
.section-info-page .responsabily {
  float: right;
  text-align: right;
  margin-right: 0;
}
