/*********** variable color ***********/
@green: #369F0F;
@graydark: #333333;
@gray: #666666;
@graylight: #999999;
@backgroundgray: #F0F0F0;


body{
	padding:0;
	margin: 0;
	font-size: 62.5%; /* defined font pattern - 10px*/
	font-family: 'Helvetica', Arial;
	color:@gray;
	min-width: 1200px;
}

/*************** Mixins ******************/

.border-radius(@radius:5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

/******* MOUSE OVER ************/

.list-bikers:hover > .button-delete .btn-delete{
	display: block !important;
}

/********** CSS RESET ****************/

a{
	text-decoration: none;
}

button{
	cursor:pointer;
	border:none;
	background: none;
	&:focus{
		outline:0 !important;
	}
}

ul {
	margin:0;
	padding: 0;
	li{
		list-style-type: none;
		float: left;
	}
}

.hidden{
	display: none;
}

/*********** HEADER ******************/

header{
	margin-top:8px;
	border-bottom: 1px solid @graydark;
	overflow: hidden;
	.menu-title{
		.menu{
			margin-left:-6px;
			i{
				color:@green;
				font-size:2em;
			}
		}
		h1{
			display: inline-block;
			color: @graydark;
			margin-left:5px;
		}
	}
	.data-user{
		float:right;
		color:@graydark;
		font-size:1.4em;
		margin:11px 0 0 ;
		text-align: right;
		i{
			color:@green;
			font-size:1.5em;
			margin-right: 10px;
		}
		a{
			color:@graydark;
			&:hover{
				color:@green;
				text-decoration: underline;
			}
		}
	}
}

/************** BREADCRUMB ******************/

.breadcrumb{
	ul{
		margin:15px 0 10px;
		font-size:1.2em;
		li{
			margin-right: 7px;
			line-height: 1.9em;
			i{
				color:@green;
				font-size:1.5em;
			}
			a{
				color:@green;
				&:hover{
					text-decoration:underline;
				}
			}
			span{
				color:#E8E8E8;
				margin:0 6px;
				font-size:1.2em;
			}
		}
	}
}

/******* SECTION PAGE ************/

.section-info-page{
	float:left;
	width: 100%;
	background:@backgroundgray;
	border-top:1px solid #DBDBDB;
	margin-bottom: 50px;
	.data-info-page{
		color: @graylight;
		margin:31px 0 20px;
		i{
			font-size: 4em;
			float: left;
			margin-right: 15px;
		}
		h3{
			display: inline-block;
			font-size:1.2em;
			width:100px;
			margin:3px 0 5px;
			font-weight: normal
		}
		span{
			font-size:1.5em;
			color:@graydark;
			font-weight: bold;
			width:100px;
		}
	}
	.info-mode{
		width:200px;
	}
	.responsabily{
		&:extend(.section-info-page .data-info-page all);
		float:right;
		text-align: right;
		margin-right: 0;
		width: 134px;
		i, span{
			color:@green;
		}
		h3, span{
			float: left;
			text-align: left;
			width: auto;
		}
	}
}


/*********** SECTION HELP **************/

.help{
	.border-radius;
	border:1px solid #dbdbdb;
	margin-bottom: 30px;
	header{
		background: @backgroundgray;
		padding: 15px 0;
		margin:0;
		border-bottom: 1px solid #dbdbdb;
		cursor:pointer;
		h3{
			display: inline-block;
			color: @graydark;
			font-size:1.5em;
			margin:0 0 0 15px;
		}
		.open, .close{
			border:none;
			background: none;
			color:@green;
			float:right;
			margin-right: 15px;

		}
	}
	.content-help-open{
		display:block !important;
	}
	.content-help{
		display:none;
		padding:15px;
		font-size:1.3em;
		line-height: 1.4em;
		i{
			font-size:9em;
			float:left;
			color: @graylight;
			margin:0 25px 10px 0;
		}
	}
}

/************** FORM ***********************/
.form-registration{
	h2{
		color: @graydark;
		font-size: 3.4em;
	}
	.row-inputs{
		width:100%;
		height: 100px;
		p.help-block{
			color:red;
		}
		.radiobox, .checkbox{
			width:149px;
			float:left;
			font-size:1.6em;
			line-height:1.8em;
			margin-top:17px;
		}
		.checkbox{
			width: 80px;
			color:@gray !important;
			margin-top:12px;
		}
		label, h4{
			width:100%;
			font-size:1.4em;
			font-weight: bold;
			color: @graydark;
			float: left;
			margin-bottom: 5px;
			span{
				color: @graylight;
				font-size:0.8em;
				float:right;
				font-weight: normal;
			}
		}
		.daysWeek{
			margin-top:40px !important;
		}
		label.radio-checkbox{
			width:auto !important;
		}
		input[type="text"], input[type="email"]{
			width:100%;
			border:2px solid #DBDBDB;
			.border-radius;
			font-size:1.6em;
			padding:5px 0;
			margin-top:5px;
			&:focus{
				border:2px solid @green;
				outline:none;
			}
		}
		.help-input{
			width:100%;
			margin-top: 10px;
			color: @graylight;
			font-size:1.2em;
			display: none;
		}
		.btn-save, .btn-cancel{
			float:right;
			font-size:1.4em;
			padding:7px 25px;
			background: @graylight;
			color:@graydark;
			.border-radius;
			margin-top:45px;
		}
		.btn-save{
			background: @green;
			color:#fff;
			margin-left: 15px;
		}	

	}
	.fields-right{
		float:right;
	}
}


/********* List bikers ****************/
.bikers{
	h2{
		color: @graydark;
		font-size: 3.4em;
	}
	header{
		border-bottom: 1px solid #154A02;
		border-top: 1px solid #154A02;
		background: @green;
		padding:25px 10px 15px;
		color:#fff;
		font-size:1.2em;
	}
	.list-bikers{
		padding:20px 0 32px 10px;
		font-size:1.4em;
		color:@graydark;
		line-height: 1.4em;
		.button-delete{
			margin-right: 5px;
			button{
				display:none;
				float:right;
				font-size:1.2em;
				margin-top:-6px;
			}
		}
		.hour{
			color:@graylight;
			font-size:0.8em;
			margin-left:3px;
		}
		&:hover{
			background:#C5DFBC;
		}
	}
	.row-background{
		background: #F4F4F4;
	}
	.row-mouse-over{
		background: #C5DFBC;
	}
}


/************** FOOTER ****************/
footer{
	border-top:1px solid @graydark;
	margin:70px 0 20px 0;
	.copyright, .version{
		display: inline-block;
		color:@graylight;
		font-size:1.2em;
		margin-top:20px;
	}
	.version{
		float:right;
		font-weight: bold;
	}
}


